@charset "utf-8";
/* CSS Document */


.navbar { 
width: 700px;
margin: 25px auto;  
/* background-color: rgba(0,0,0,0.6); 
border-top: 2px solid white; 
border-bottom: 2px solid white;*/ 
padding-bottom: 15px;
float:left}


#navbarList { 
margin: 0 auto; 
list-style: none; 
position: absolute; 
width: 700px; }

#navbarList li {
list-style: none; 
display: inline; }

#navbarList li a { 
color: black; 
font-size: 13px; 
font-family: Arial, Helvetica, sans-serif;
text-transform: uppercase;
display: block; 
float: left;  
text-decoration: none; 
margin: 0 35px; 
padding-top: 15px;
padding-bottom: 23px;
 }

#navbarList li a:hover { 
color:#36C; }

#magic-line { 
position: absolute; 
bottom: -4px; 
left: 0; 
width: 10px; 
height: 4px; 
background: #036
; }